.question {
    margin: .5rem;
    align-items: center;
    border: 1px solid lightblue;
    border-radius: .8rem;
    max-width: 80vw;
    padding: 1rem;
    height: auto;
    width: auto;
    display: normal;
    justify-content: space-around;
    background: #d9e8ff;
  }


 .answer{align-items: "left" }